@page "/gametest"
@layout AdminLayout

<div class="container">
  <div class="row">
    <div class="col">
      <AdminComponent />
    </div>
    <div class="col">
      <ClientComponent />
    </div>
    <div class="col">
      <ClientComponent />
    </div>
  </div>
</div>

@code {

}
