@page "/gametest"
@layout AdminLayout

<div class="container">
  <div class="row">
    <div class="col">
      <AdminComponent />
    </div>
    <div class="col">
      <ClientComponent />
    </div>
    <div class="col">
      <ClientComponent />
    </div>
  </div>
@*  <div class="row">
    <div class="col">
      <QuestionAnswerChart CorrectAnswers="@(new string[] { "1" })" Options="@(new String[] { "1","2", "3","4"})" />
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>*@
</div>

@code {

}
