<nav class="navbar navbar-dark title-bar">
    <div class="container-fluid">
        <span class="ms-4 fs-4 text-light title-bar-name">@Name</span>
    </div>
</nav>

@code {
    [Parameter]
    public string? Name { get; set; }
}
