@using QuizModels = QuizExperiment.Models

@{
    if(Question != null)
    {
        <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center quiz-page">
            <div class="question-progress-container">
                <div class="question-player-count">
                    <div class="fs-4">PLAYERS ANSWERED</div>
                    <div class="fs-4">@UserAnswerCount</div>
                </div>
                <CountDownTimer EndDate="@QuestionEndTime" />
            </div>
            <div class="question-container d-flex flex-column justify-content-center align-items-center">
                <div class="quiz-admin-question-title my-3 fs-1 fw-bold">@Question.Title</div>
                <img class="img-fluid rounded img-quiz" src="@Question.ImageUrl" />
                <div class="quiz-admin-button-container">
                    <button class="btn btn-admin-quiz btn-quiz-question-1 btn-admin-quiz-true-false" value="1">
                        <span>True</span>
                    </button>
                    <button class="btn btn-admin-quiz btn-quiz-question-2 btn-admin-quiz-true-false" value="2">
                        <span>False</span>
                    </button>
                </div>
            </div>

        </div>
    }
}




@code {

    [Parameter]
    public QuizModels.TrueFalseQuestion? Question { get; set; }

    [Parameter]
    public DateTime QuestionEndTime { get; set; }

    [Parameter]
    public int UserAnswerCount { get; set; }


}
