@page "/test/answerchart"
@using QuizExperiment.Models
@*<QuestionAnswerChart CorrectAnswerIndex="0" OnNextQuestion="@OnNextQuestion" Options="@options" UserAnswers="@userAnswers" />
*@

<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center quiz-page">
    <div class="next-question-fixed-container">
    <button class="btn btn-success my-3 btn-primary-action">
        NEXT >
    </button>
    </div>
    <div class="my-3 fs-4">The correct answer is</div>
    <button class="btn btn-correct-answer btn-answer-0" value="Y"><span>Y</span></button>
    <div class="my-3 fs-2 fw-bold">THE CORRECT ANSWER</div>
    <QuizExperiment.Admin.Client.Shared.Components.AnswerChart Values="@_answers" />
</div>

@code {
    public void OnNextQuestion()
    {
        // Do something


    }

    public AnswerChartTest()
    {
        _answers = new Dictionary<int, int>
        {
            {0, 5},
            {2, 10},
            {3, 200},
        };
    }

    private Dictionary<int,int> _answers;

}
