@page "/test/gametest"
@layout AdminLayout
@attribute [Authorize]

<PageTitle>QuizzR - Game Test</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="container">
          <div class="row">
            <div class="col">
              <PresentComponent Id="054e6758-db4e-4523-9641-4a27582fe79b" />
            </div>
            <div class="col">
              <ClientComponent />
            </div>
            <div class="col">
              <ClientComponent />
            </div>
          </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>



@code {

}
