body {
    background-color:#FFFFFF;
}

.title-bar-name {
    padding-left: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav.title-bar {
    background-color: #585555;
    margin-top: 69px
}

.btn-primary-action {
    min-width: 80px;
    background-color: #84DC04;
    border-color: #84DC04;
    color:black;
}

.input-text-field {
    border-color: black;
    border-width: 1.5px;
    width: 180px;
    min-height: 50px;
    border-radius: 0;
}

.loading-animation-item {
    width: 30px;
    height: 30px;
    background-color: #84DC04;
    display: block;
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
}

@keyframes loading-item-1 {
    0% { opacity: 50%; }
    25% { opacity: 100%;}
    75% { opacity: 50%;}
    100% { opacity: 0%; }
}

.loading-animation-item-1 {
    animation-duration: 1s;
    animation-name: loading-item-1;
    animation-iteration-count: infinite;
}

@keyframes loading-item-2 {
    0% { opacity: 100%; }
    25% { opacity: 50%;}
    75% { opacity: 0%;}
    100% { opacity: 50%; }
}

.loading-animation-item-2 {
    animation-duration: 1s;
    animation-name: loading-item-2;
    animation-iteration-count: infinite;
}

@keyframes loading-item-3 {
    0% { opacity: 50%; }
    25% { opacity: 0%;}
    75% { opacity: 50%;}
    100% { opacity: 100%; }
}

.loading-animation-item-3 {
    animation-duration: 1s;
    animation-name: loading-item-3;
    animation-iteration-count: infinite;
}


