body {
    background-color:#FFFFFF;
}

input[type="text"] {
    border-radius: 0;
}

.title-bar-name {
    padding-left: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav.title-bar {
    background-color: #585555;
    margin-top: 69px
}

.btn-primary-action {
    min-width: 80px;
    background-color: #84DC04;
    border-color: #84DC04;
    color:black;
}

    .btn-primary-action:hover {
        min-width: 80px;
        background-color: #3CDB4E;
        border-color: #3CDB4E;
        color: black;
    }

.input-text-field {
    border-color: black;
    border-width: 1.5px;
    width: 180px;
    min-height: 50px;
    border-radius: 0;
}

.loading-animation-item {
    width: 30px;
    height: 30px;
    background-color: #84DC04;
    display: block;
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
}

@keyframes loading-item-1 {
    0% { opacity: 50%; }
    25% { opacity: 100%;}
    75% { opacity: 50%;}
    100% { opacity: 0%; }
}

.loading-animation-item-1 {
    animation-duration: 1s;
    animation-name: loading-item-1;
    animation-iteration-count: infinite;
}

@keyframes loading-item-2 {
    0% { opacity: 100%; }
    25% { opacity: 50%;}
    75% { opacity: 0%;}
    100% { opacity: 50%; }
}

.loading-animation-item-2 {
    animation-duration: 1s;
    animation-name: loading-item-2;
    animation-iteration-count: infinite;
}

@keyframes loading-item-3 {
    0% { opacity: 50%; }
    25% { opacity: 0%;}
    75% { opacity: 50%;}
    100% { opacity: 100%; }
}

.loading-animation-item-3 {
    animation-duration: 1s;
    animation-name: loading-item-3;
    animation-iteration-count: infinite;
}

.quiz-page {
    background-color: #585555;
    color: white;
}

.quiz-button-container {
    margin-top: 100px;
    width: 500px
}

.btn-client-quiz {
    position:relative;
    width: 200px;
    height: 200px;
    border-radius:100px;
    font-size: 64pt;
    font-weight:bolder;
}

.btn-quiz-0 {
    background-color: #ECDB33;
    left: 150px;
}

.btn-quiz-1 {
    background-color: #1F75FE;
    top: 150px;
    left:-200px;
}

.btn-quiz-2 {
    background-color: #D04242;
    top:-50px;
    left: 300px;
}

.btn-quiz-3 {
    background-color: #3CDB4E;
    top: 100px;
    left: -50px;
}

.btn-client-quiz > span {
    position:relative;
    align-items: center;
    top: -3px
}

.answer-icon {
    font-size: 3rem;
    border-radius: 50px;
    padding: 18px;
    border-width: thick;
    border-style: solid;
    margin-top: 20px;
    margin-bottom:20px;
}

.answer-correct {
    color: #84DC04;
    border-color: #84DC04;
    padding-top: 10px;
    padding-bottom: 0px;
}

.answer-wrong {
    color: #FF2E21;
    border-color: #FF2E21;
    padding-top: 6px;
    padding-bottom: 4px;
}

.oi-x {
    top: -2px;
}

.player-icon {
    font-size: 100px;
}

.player-name {
    font-size: 20px;
    font-weight: bold;
    margin-top: -25px;
}

.player-card {
    max-width: 10rem;
    border: none;
}

.card-body {
    padding: 0.5rem;
}

.player-icon-container {
    margin-top: 100px;
}

.img-qrcode {
    max-width: 300px;
    max-height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-admin-quiz {
    position: relative;
    width: 500px;
    height: 200px;
    border-radius: 100px;
    font-size: 64pt;
    font-weight: bolder;
}

.btn-quiz-question-0 {
    background-color: #ECDB33;
    left: 0px;
}

.btn-quiz-question-1 {
    background-color: #1F75FE;
    top: 10px;
    left: -280px;
}

.btn-quiz-question-2 {
    background-color: #D04242;
    top: -190px;
    left: 280px;
}

.btn-quiz-question-3 {
    background-color: #3CDB4E;
    top: -180px;
    left: 0px;
}

.btn-admin-quiz > span:first-child {
    position: relative;
    align-items: center;
    color: white;
    font-size:32pt;
    top: 10px;
    left: -200px
}

.img-quiz {
    max-width: 500px;
    max-height: 350px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.quiz-admin-button-container {
    margin-top: 30px;
    width: 500px
}

.quiz-question-text {
    position: relative;
    font-size: 24pt;
    text-align: center;
    width: 370px;
    left: 60px;
    top: -125px;
    height: 180px;
    text-overflow: ellipsis;
    overflow: hidden;

}

.question-progress-container{
    position:fixed;
    top: 100px;
    right: 30px;
    float:right;
    width: 120px;
    text-align:center;
}

.question-player-count {
    margin-bottom: 50px;
}

.award-icon {
    font-size: 128px;
}

.table-podium {
    background-color: white;
    width: 400px;
}

.table-podium td {
    padding:10px 15px;
}

.table-podium th {
    padding: 10px 15px;
}

.next-question-fixed-container {
    position: fixed;
    top: 100px;
    right: 30px;
    float: right;
    width: 120px;
    text-align: center;
}

.btn-correct-answer {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    font-size: 32pt;
    font-weight: bolder;
}


.btn-answer-0 {
    background-color: #ECDB33;
}

.btn-answer-1 {
    background-color: #1F75FE;
}

.btn-answer-2 {
    background-color: #D04242;
}
.btn-answer-3 {
    background-color: #3CDB4E;
}

.answer-chart-table {
    width:500px;
    margin-top:50px;
}

.answer-chart-item-container {
    align-items: center;
    padding: 12px;
}

.answer-chart-label-container {
    align-items: center;
    padding: 12px;
}

.answer-chart-item-value {
    text-align: center;
    margin-bottom: 5px;
}

.answer-chart-item-bar {
    width: 100px;
    display:block;
}

.answer-chart-item-bar-0 {
    background-color: #ECDB33;
}

.answer-chart-item-bar-1 {
    background-color: #1F75FE;
}

.answer-chart-item-bar-2 {
    background-color: #D04242;
}

.answer-chart-item-bar-3 {
    background-color: #3CDB4E;
}

.quiz-manage-controls-container {
    padding: 20px 40px;
}

.quiz-manage-items-container {
    width: 80%;
    overflow-y:auto;
}

.quiz-manage-item-container {
    background-color: black;
    width: 300px;
    height: 300px;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.quiz-manage-item-present {
    width: 80px;
    height: 80px;
    font-size: 32px;
    border-radius: 40px;
    border-color: #ECDB33;
    border-width: 10px;
    border-style:solid;
    background-color:black;
    color:white;
}

.quiz-manage-item-present-triangle {
    width: 0;
    height: 0;
    border-color: inherit;
    border-left-width: 30px;
    border-left-style: solid;
    border-top-width: 15px;
    border-top-style: solid;
    border-top-color: transparent;
    border-bottom-width: 15px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    margin-left: 12px;
    color: inherit;
}

.quiz-manage-item-title {
}

.quiz-manage-item-questions {
}

.quiz-manage-item-edit {
    font-size: 32px;
    background-color: black;
}

.quiz-manage-item-delete {
    font-size: 32px;
    background-color: black;
}

.quiz-manage-item-controls {
    margin:20px;
}

.quiz-manage-item-details {
    margin-left: 20px;
    margin-top:60px;
}

.quiz-edit-question {
    height: calc(100vh - 178px)
}

.quiz-edit-question-list-container {
    width: 300px;
    background-color: black;
    color: white;
    height: calc(100vh - 178px);
}

.quiz-edit-question-list {
    width: 260px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-x: hidden;
    overflow-y: scroll
}

.quiz-edit-question-item{
    background-color: white;
    color: black;
    width: 230px;
    height:180px;
    margin-top:30px;
    padding-bottom:10px
}
.quiz-edit-question-item-title {
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap:normal;
}
.quiz-edit-question-item-img {
    width: 100px;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.quiz-edit-question-item-edit{
    background-color:white;
    border:none;
}

.quiz-edit-question-item-delete {
    background-color: white;
    border: none;
}

.quiz-edit-question-input-text {
    border-radius: 0;
}

.quiz-edit-question-editor {
    margin: 30px;
}

.quiz-edit-question-editor-image{
    width: 500px;
    height:380px;
    margin-left:20px;
}

.quiz-edit-question-panel {
    margin-top: 30px;
}

.quiz-edit-question-details-panel {
    margin-top: 10px;
}

.btn-giphy-search {
    width: 140px;
}

.quiz-edit-question-input-timeout-container{
   margin-top:170px;
}

.quiz-edit-question-input-timeout-label {
    width: 180px;
    background-color: #585555;
    color: white;
    height:40px;
    text-align:center;
    line-height:40px;
}


.quiz-edit-question-input-timeout {
    border-radius: 0;
    width: 180px;
}

.quiz-edit-question-answers-table-container{
    margin-top:40px;
}

.quiz-edit-question-answers-table > thead {
    background-color: #585555;
    color: white;
}

.quiz-edit-question-answers-table > thead > tr > th:first-child {
    padding-left:15px;
}

.quiz-edit-question-answers-table-icon {
    width: 60px;
    border-right-style: hidden;
}

.quiz-edit-question-answers-table-correct {
    width: 60px;
    text-align: center;
    vertical-align:middle;
}

.btn-edit-answer {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 16pt;
    font-weight: bolder;
}


.btn-edit-answer-0 {
    background-color: #ECDB33;
}

.btn-edit-answer-1 {
    background-color: #1F75FE;
}

.btn-edit-answer-2 {
    background-color: #D04242;
}

.btn-edit-answer-3 {
    background-color: #3CDB4E;
}

.quiz-edit-question-input-answer {
    border-radius: 0;
    height:50px
}

.title-bar-button {
    min-width: 80px;
}

.img-giphyresult {
    max-width: 100px;
    max-height: 100px;
    cursor: pointer;
}