 <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="my-3 fs-2 fw-bold px-3 text-center">Join our quiz!</div>
    <div class="my-3 fs-4 px-3 text-center">Enter the quiz code below</div>
     <div class="my-3">
        <input class="form-control text-center fs-5 input-text-field" 
        @bind="clientQuizId" @bind:event="oninput" @onkeydown="@Enter" placeholder="Enter the quiz id" />
     </div>
    <button class="btn btn-success my-3 btn-primary-action" 
        @onclick="@(e=> OnQuizIdSubmit.InvokeAsync(clientQuizId))">
         NEXT
     </button>
 </div>

@code {
    private string? clientQuizId;

    [Parameter]

    public EventCallback<string> OnQuizIdSubmit { get; set; }

    
    public void Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            OnQuizIdSubmit.InvokeAsync(clientQuizId);
        }
    }


}
