@inherits LayoutComponentBase

<QuizExperiment.Admin.Client.Shared.Components.NavBar ShowLogin="false" />
<div class="page">
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>
