<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="my-3 fs-2 fw-bold px-3 text-center">How would you like to be known?</div>
    <div class="my-3 fs-4 px-3 text-center">Enter your username below</div>
    <div class="my-3">
        <input class="form-control text-center fs-5 input-text-field"
               @bind="userName" @bind:event="oninput" placeholder="Username" maxlength="20" @onkeydown="@Enter" />
               @if(showValidation)
        {
            <div class="invalid-feedback invalid-feedback-quiz">
                Please choose a username.
            </div>
        }
        
    </div>
    <button class="btn btn-success my-3 btn-primary-action"
            @onclick="@Submit">
        Next
    </button>
</div>

@code {
    private string? userName;
    private bool showValidation = false;
    [Parameter]
    public EventCallback<string> OnUserNameSubmit { get; set; }

    public async void Submit()
    {
        if(string.IsNullOrWhiteSpace(userName))
        {
            showValidation = true;
            return;
        };
        showValidation = false;
        await OnUserNameSubmit.InvokeAsync(userName);
    }

    public void Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            Submit();
        }
    }
}
