<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="my-3 fs-2 fw-bold px-3 text-center">Hello @UserName</div>
    <div class="my-3 fs-4 px-3 text-center">Just waiting for players to join</div>
    <div class="my-3 fs-4 px-3 text-center">Your host will start the quiz shortly.</div>
    <div class="my-3 loading-animation">
        <span class="loading-animation-item loading-animation-item-1"></span>
        <span class="loading-animation-item loading-animation-item-2"></span>
        <span class="loading-animation-item loading-animation-item-3"></span>
    </div>
</div>

@code {
    [Parameter]
    public string? UserName { get; set; }

}
