<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="my-3 fs-4 px-3 text-center">Just waiting for everyone to answer.</div>
    <div class="my-3 loading-animation">
        <span class="loading-animation-item loading-animation-item-1"></span>
        <span class="loading-animation-item loading-animation-item-2"></span>
        <span class="loading-animation-item loading-animation-item-3"></span>
    </div>
</div>

@code {

}
