@using QuizExperiment.Models
<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center quiz-page">
    
    @if (MyAnswerIndex == CorrectAnswerIndex)
    {
        <div class="my-3 fs-2 fw-bold">Correct!</div>
        <div class="answer-icon answer-correct">
            <span class="oi oi-check" title="icon name" aria-hidden="true"></span>
        </div>
    }
    else
    {
        <div class="my-3 fs-2 fw-bold">Better luck next time!</div>
        <div class="my-3 fs-4">The correct answer was @CorrectAnswer</div>
        <div class="answer-icon answer-wrong">
            <span class="oi oi-x" title="icon name" aria-hidden="true"></span>
        </div>
    }
    @if (!IsLastQuestion)
    {
        <div class="my-3 fs-4">You are in @Position@(Position.GetSuffix()) place with @CurrentScore points</div>
        <div class="my-3 fs-4">Another question is on its way!</div>
    }
    else
    {
        <div class="my-3 fs-4">That was the last question, check the presenters screen to see how you did!</div>
    }
</div>

@code {
        [Parameter]
        public int MyAnswerIndex { get; set; }

        [Parameter]
        public bool IsLastQuestion { get; set; }

        [Parameter]
        public int CorrectAnswerIndex { get; set; }

        [Parameter]
        public string? CorrectAnswer { get; set; }

        [Parameter]
        public int CurrentScore { get; set; }

        [Parameter]
        public int Position { get; set; }

}
