<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    @if (MyAnswerIndex == CorrectAnswerIndex)
    {
        <h1 class="h1 text-center">Good job!</h1>
        <div class="answer-icon answer-correct">
            <span class="oi oi-check" title="icon name" aria-hidden="true"></span>
        </div>
        
    }
    else
    {
        <h1 class="h1 text-center">Better luck next time</h1>
        <p class="text-center">The correct answer was <strong>@CorrectAnswer</strong></p>
        <div class="answer-icon answer-wrong">
            <span class="oi oi-x" title="icon name" aria-hidden="true"></span>
        </div>  
    }
    @if (!IsLastQuestion)
    {
        <h2 class="h2 text-center">You are currently in @Position@PositionSuffix place with a score of @CurrentScore</h2>
        <h3 class="h3 text-center">Another question is on it's way!</h3>
    }
    else
    {
        <h2 class="h2 text-center">That was the last question, check the presenters screen to see how you did!</h2>
    }

</div>

@code {
        [Parameter]
        public int MyAnswerIndex { get; set; }

        [Parameter]
        public bool IsLastQuestion { get; set; }

        [Parameter]
        public int CorrectAnswerIndex { get; set; }

        [Parameter]
        public string CorrectAnswer { get; set; }

        [Parameter]
        public int CurrentScore { get; set; }

        [Parameter]
        public int Position { get; set; }

        private string PositionSuffix
        {
            get
            {
                return Position switch
                {
                    1 => "st",
                    2 => "nd",
                    3 => "rd",
                    _ => "th"
                };
            }
        }
}
