@inherits LayoutComponentBase
<div class="page">
    <header>
        <AuthorizeView>
            <Authorized>
                Whay are you logged in, @context.User.Identity?.Name!
            </Authorized>
            <NotAuthorized>
            </NotAuthorized>
        </AuthorizeView>
    </header>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
