@using QuizExperiment.Models

<div class="shadow p-1 mb-4 rounded">
    <div class="d-flex flex-column justify-content-center align-items-center p-2" >
        <p class="text-center" style="text-overflow:ellipsis">@Question.Title</p>
        <div class="d-flex flex-row align-items-center">
            <img class="img-fluid rounded img-quiz-editor" src="@Question.ImageUrl" />   
            <div class="d-flex flex-column align-items-center px-1">
                <button type="button" class="btn btn-primary btn-sm mb-1" value="Edit" @onclick="@(e=> OnEditQuestion.InvokeAsync(Question))">✏️</button>
                <button type="button" class="btn btn-danger btn-sm mb-1" value="Delete" @onclick="@(e=> OnDeleteQuestion.InvokeAsync(Question))">🗑️</button>
            </div>
        </div>
        
    </div>
</div>

@code {

    [Parameter]
    public Question Question { get; set; }

    [Parameter]
    public EventCallback<Question> OnEditQuestion { get; set; }

    [Parameter]
    public EventCallback<Question> OnDeleteQuestion { get; set; }

}
