<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <h1 class="display-4 text-center">@Question</h1>
    <div class="d-flex flex-row">
        <div style="padding-top: 200px;">
            <p class="quiz-answer-count">@UserAnswerCount</p>
        </div>
        <img class="img-fluid rounded img-quiz" src="@ImageUrl" />
        <div style="padding-top: 200px;">
            <CountDownTimer EndDate="@QuestionEndTime"  />
        </div>
        
    </div>
    <table class="table table-bordered" >
        <tbody>
            @{
                var rows = Options.Chunk(2).ToArray();
                var counter = 0;
            
                foreach(var row in rows)
                {
                    <tr>
                        @foreach(var answer in row)
                        {
                            <td class="quiz-table-row">
                                    <div class="d-flex flex-row">
                                        <div>
                                            <button class="btn btn-quiz btn-quiz-@counter" ></button>
                                        </div>
                                        <div class="quiz-label h2 text-wrap">
                                            @answer
                                        </div>
                                    </div>
                            </td>
                            counter++;
                        }
                    </tr>
                }                    
            }         
        </tbody>
    </table>
</div>


@code {

    [Parameter]
    public string Question { get; set; }

    [Parameter]
    public string[] Options { get; set; }

    [Parameter]
    public DateTime QuestionEndTime { get; set; }

    [Parameter]
    public int UserAnswerCount { get; set; }

    [Parameter]
    public string ImageUrl { get; set; }


}
