<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center quiz-page">
    <h1 class="h1 text-center">@Question</h1>
    <div class="quiz-button-container">
         @for(var i =0; i< PossibleAnswers.Length;i++)
         {
             var answer = PossibleAnswers[i];
             var index = i;
            <button class="btn btn-client-quiz btn-quiz-@i" @onclick="@( e=> OnAnswerSubmit.InvokeAsync(index) )" value="@index"><span>@(index.GetButtonNameFromIndex())</span></button>
         }

    </div>
</div>


@code {

    [Parameter]
    public string Question { get; set; }

    [Parameter]
    public string[] PossibleAnswers { get; set; }


    [Parameter]
    public EventCallback<int> OnAnswerSubmit { get; set; }

}
