<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <h1 class="display-1 text-center">@Question</h1>
    <h3 class="h3">Pick an option....</h3>

    <div class="flex-fill quiz-button-container align-items-center">
        @for(var i =0; i< Options.Length;i++)
        {
            var answer = Options[i];
            <button class="btn btn-quiz btn-quiz-@i" >@answer</button>
        }
    </div>  
</div>


@code {

    [Parameter]
    public string Question { get; set; }

    [Parameter]
    public string[] Options { get; set; }

}
