<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <h1 class="h1 text-center">@Question</h1>
    <div class="mb-3">
        <input @bind="_answer" class="form-control" placeholder="Type your answer here..." />
    </div>
    <button class="btn btn-primary" @onclick="@(e=> OnAnswerSubmit.InvokeAsync(_answer))">Submit Answer</button>  
</div>

@code {
    private string _answer;

    [Parameter]
    public string Question { get; set; }

    [Parameter]
    public EventCallback<string> OnAnswerSubmit { get; set; }
}
