<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="my-3 fs-2 fw-bold">How would you like to be known?</div>
    <div class="my-3 fs-4">Enter your username below</div>
    <div class="my-3">
        <input class="form-control text-center fs-5 input-text-field"
               @bind="userName" placeholder="Username" maxlength="20" />
    </div>
    <button class="btn btn-success my-3 btn-primary-action"
            @onclick="@(e=> OnUserNameSubmit.InvokeAsync(userName))">
        Next
    </button>
</div>

@code {
    private string userName;
    [Parameter]
    public EventCallback<string> OnUserNameSubmit { get; set; }
}
